.members{
    >.sub_visual{
        background-image: url(../img/bgSubMembers.jpg);
    }

    h2{
        font:bold 18px/1 'arial'; color:#555; margin-bottom: 20px;

        &::before{
            content: '';display: block; width:40px; height: 3px;background: #ab2227;margin-bottom: 8px;
        }
    }

    .agreement{
        margin-bottom: 60px;

        textarea{
            width: 100%; height: 160px; box-sizing: border-box; padding:20px; margin-bottom: 10px; font:15px/1.8 'arial'; color: #777; background: rgba(0, 0, 0, 0.03);
        }

        input{
            margin-left: 10px;
        }

        label{
            font-size: 11px; color: #888;margin-right: 20px;
        }
    }

    .container{
        .list{
            width:100%; border-top: 1px solid #666;border-bottom: 1px solid #666;margin-bottom:50px; 

            &::after{
                content:''; display: block; clear:both;
            }

            li{
                float:left; padding:20px; width:calc(100%/3);box-sizing: border-box; text-align: center;position: relative; font:14px/1 'arial';

                &.on{
                    background: #444; color:#fff;
                }
            }
        }

        table{
            width: 100%;

            tr{
                &:nth-of-type(1){
                    border-top: 2px solid #666;
                }

                &:last-child{
                    border-top: 2px solid #666;

                    td{
                        text-align: center;
                    }
                }
            }

            th{
                width: 20%; border-bottom: 1px solid #ddd; padding: 20px 40px; text-align: left;

                label {
                    color: #444;
                }
            }

            td{
                width: 80%; padding: 20px 40px; text-align: left; border-bottom: 1px solid #ddd;
            }

            textarea{
                width: 100%; height: 120px; background: transparent;border: 1px solid #aaa; padding: 20px; transition: 0.5s; margin-bottom: 20px;

                &:hover, &:focus{background: rgba(0,0,0,0.03);}
            }
        }

        input[type=text], input[type=password], input[type=email], select{
            width: 30%; height: 30px; padding: 0px 20px; padding-right: 0px; background: transparent; border: 1px solid #aaa; transition: 0.5s;
        }

        input[type=text]:hover, .members input[type=password]:hover, input[type=email]:hover, select:hover, 
        input[type=text]:focus, .members input[type=password]:focus, input[type=email]:focus, select:focus{
            background: rgba(0,0,0,0.03);
        }

        input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, select::-webkit-input-placeholder{
            color: #aaa;
        }

        input[type=submit], input[type=reset]{
            width: 120px; height: 40px; border-radius: 20px; border:1px solid #888; background: transparent; transition: 0.5s; font: bold 12px/40px 'arial'; color: #666; margin:0px 10px; cursor: pointer;
        }

        input[type=submit]:hover, input[type=reset]:hover{
            background: #666;  box-shadow: 5px 5px 10px rgba(0,0,0,0.03); color: #fff; font-weight: bold;
        }
    } 
}




//tablet
@media screen and (max-width:$tablet){

    .members .container{
        table{
            th{
                display: none;
            }
            td{
                width: 100%; 
            }

            textarea{
                width: 100%; height: 120px; background: rgba(0,0,0,0.03);border: 1px solid #aaa; padding: 20px; transition: 0.5s;
            }
        }

        td{
            input[type=text], input[type=password], select{
                width: 100%; margin-top:10px;
            }
        }
    }
}
//cellphone
@media screen and (max-width:$cellphone){
    .members .container{
        label{
            margin-right: 7px;
        }

        td input[type=submit], .members td input[type=reset]{
            width: 80px; margin:0px 5px;
        }
    } 
}