#notice{
    width: 100%; background: #eee; margin-top: -100px;

    >.inner{
        width:1180px; margin:0 auto;padding-top: 240px;

        &::after{
            content: ''; display:block; clear: both;
        }

        >article{
            width:calc(94% /4); padding:40px; margin-right:2%; background: #fff; float: left; box-sizing: border-box;

            &.txt{
                background: none;padding:0px; 

                >p{
                    margin-left: 7%; margin-top: 0px;

                    &::before{
                        content: ''; display:block; width: 50px; height:1.5px; margin-left: 7%; background: #333; text-align: center; margin: 15px 0 10px 20px;
                    }

                    &::after{
                        content: '더보기  +'; display: block; text-align: center; width:70px; background: #fff; color:#777; font:bold 12px/1 'arial'; padding:5px 0; margin-top:30px; margin-left: 10px; border: 1px solid #ccc; float:none;
                    }
                }
            }

            &:last-of-type{
                margin-right: 0px;
            }

            >h1{
                color:#222; font:bold 50px/1 'arial';
            }

            >h2{
                color:#444; font:bold 16px/20px 'arial';

                &::before{
                    content: ''; display:block; width: 30px; height:1px; background: #888; text-align: center; margin-bottom: 20px;
                }
            }

            >p{
                color:#555; font:12px/20px 'arial';margin-top:90px;

                &::after{
                    content: '더보기  +'; display: inline-block; text-align: center; width:70px; background: #fff; color:#777; font:bold 12px/1 'arial'; padding:5px 0; margin-top:30px; margin-left: 10px; border: 1px solid #ccc; float: right;margin-top: 0px; cursor:pointer;
                }
            }
        }
    }
}


//tablet
@media screen and (max-width:$tablet){
    #notice{
        padding:0 30px; width: auto;

        >.inner{
            width:100%;

            >article{
                width:calc(98% /2); margin-top: 20px; 

                &:nth-last-of-type(2n-1){
                    margin-right: 0px;
                }
            }
        }
    }
}
//cellphone
@media screen and (max-width:$cellphone){
    #notice>.inner{
        padding-top: 150px;

        >article{
            width:100%; margin-right: 0px;

            &.txt>p::after{
                margin-top: 0px; display: inline-block;
            }
        }
    }
}