.flicker{
    >.sub_visual{
        background-image: url(../img/bgSubFlicker.jpg);
    }

    >.inner{
        >.container{
            >#search {
                width:100%; border-top:1px solid #666; border-bottom:1px solid #666;  box-sizing:border-box; padding:20px; margin-bottom:50px;
        
                input[type=text] {
                    width:100%; height:40px; border:1px solid #999; padding:5px 10px; box-sizing:border-box; margin-bottom:20px;
                }
        
                button {
                    width:100%; height:40px; background:#555; font:bold 14px/40px 'arial'; color:#fff; text-align:center; border:none; cursor:pointer;
                }
            }
    
            >#gallery{
                >ul{
                    &::after{
                        content:''; display:block; clear:both;
                    }

                    li {
                        width: calc((100%/4) - 40px);box-sizing: border-box;margin: 20px;float: left;height:200px; overflow: hidden;display: block;position: relative;
        
                        &:hover{
                            &::before{
                                content:''; position: absolute; top:0px; left:0px; background: rgba(0,0,0,0.7);width:100%;display: inline-block;height: 100%;
                            }
        
                            h2 {
                                font:bold 16px/1.2 'arial';  color:#fff; padding:20px; position: absolute; top:0px; left:0px;display: inline-block;
                            } 
                        }
        
                        img {
                            width:100%;display: inline-block;height: 100%;
                        }
        
                        h2{
                            display:none;
                        }
                    }
                }
    
                
            }
        }
    }
}

.imgPop {
    width:100%; height:100%; padding:60px; box-sizing:border-box; background:rgba(0,0,0,.9); position:fixed; left:0%; top:0%; display:flex; justify-content:center; align-items:center;

    >img {
        width:100%; height:100%; object-fit:contain;
    }

    >span {
        font-size:14px; color:#fff; position:absolute; bottom:20px; right:20px;
    }
}




/* tablet */
@media screen and (max-width:$tablet){
    .flicker>.inner>.container>#gallery li {width:calc((100%/2) - 40px); }
   
}

/* mobile */
@media screen and (max-width:$cellphone){  
    .flicker>.inner>.container>#gallery li {width:calc(100% - 40px); }
    
}