#slide{
    width:100%;

    >.inner{
        width:1180px;margin:0px auto; padding:100px 120px; box-sizing: border-box; position: relative;

        &::after{
            content: ' '; display: block; clear: both;
        }

        >h2{
            font: bold 26px/1 'arial';display: inline-block; position: absolute;left: 53%;top: 160px; z-index: 10;

            >span{
                font: 26px/1 'arial'; color:#555;
            }
        }

        >.slidebox{
            float:left; height: 450px; width:55%; max-width:500px; position:relative; background-size: cover;overflow:hidden;

            ul li{
                height: 450px; width:500px;position:absolute; top:0px; left:0px;
            }

            >ul{
                width:calc(100%*3); height: 100%; margin-left: -100%; position: relative; 

                >li{
                    width: calc(100%/3); height: 100%; position: absolute; top:0; left:33.333%; background: #333; background-repeat: no-repeat; background-size: cover;z-index:1;

                    &.on{
                        width: calc(100%/3); left:33.333%;z-index:2;
                    }
                }
            }
        }

        >.txtbox{
            float:left; background:#333; position:absolute;left: 53%; height: 180px; width:400px; padding:30px; box-sizing:border-box; transform: translate(-40px,70%);z-index:3;
            
            >span{
                font:bold 26px/1.5 'arial';color:#fff;

                &::after{
                    content:"eterotopia"; display:block; color:#666; font: 16px/1 'arial';margin-top: 20px;
                }
            }
        }

        >.prev{
            width:50px; height:50px; z-index: 10; background:#333; position:absolute;top: 68%;left: 53%;color:#fff; font-size: 20px;text-align: center;line-height: 50px;display: inline-block;
        }

        >.next{
            width:50px; height:50px; z-index: 10; background:#333; position:absolute;top: 68%;left: 58%;color:#fff; font-size: 20px;text-align: center;line-height: 50px;display: inline-block;
        }
    }
}


//tablet
@media screen and (max-width:$tablet){
    #slide>.inner{
        width:100%;padding: 50px 100px;

        >.slidebox{
            min-width:350px;
        }

        >.picbox{
            width:70%;
        }

        >.txtbox{
            display:none;
        }

        >.prev{
            left: 73%;
        }

        >.next{
            left: 73%; margin-left:60px;
        }
    }
}
//cellphone
@media screen and (max-width:$cellphone){
    #slide>.inner{
        padding:50px 0px;

        >.slidebox{
            width: 100%;
            padding: 0px 30px;
            box-sizing: border-box;

        }

        >h2{
            display:none;
        }

        >.picbox{
            width:80%; margin:0px auto; float:none;
        }

        >.prev{
            display:none;
        }

        >.next{
            display:none;
        }
    }
}